package com.du.oa.service;

import com.baomidou.mybatisplus.service.IService;
    ${model1};


public interface ${model1}Service extends IService<${model1}> {
	String getShowJson(int page , int count);
}